/**
 * Post grid styles
 * Loads on front end and back end
 */
.pl-clearfix{
    clear:both;
}
article{
    background-color:transparent; 
}
.fa-facebook-f:before {
    content: "\f39e" !important;
}

.pl-is-grid{
    display: flex;
    flex-wrap:wrap;
}

.pl_columns-1{
    display: block;
    width: 100%;
}
.pl_columns-2{
    .pl-post-grid{
    // display: inline-block;
    // width: 50%;
     -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
   } 
}
.pl_columns-3{
    .pl-post-grid{
    // display: inline-block;
    // width: 33.333333%;
    -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }  
}
.pl_columns-4{
    .pl-post-grid{
    // display: inline-block;
    // width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
 }
}
.columns-5{
    .pl-post-grid{
    // display: inline-block;
    // width: 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
 }
}

.pl_same-height{
    .pl-items{
        height: 100%;
    }
 }

@media only screen and (max-width:768px){
    .pl_columns-1{
    display: block;
    width: 100%;
}
.pl_columns-2{
    .pl-post-grid{
    // display: inline-block;
    // width: 50%;
     -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
   } 
}
.pl_columns-3{
    .pl-post-grid{
    // display: inline-block;
    // width: 33.333333%;
    -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }  
}
.pl_columns-4{
    .pl-post-grid{
    // display: inline-block;
    // width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
 }
}
.columns-5{
    .pl-post-grid{
    // display: inline-block;
    // width: 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
 }
}
.pl_same-height{
    .pl-items{
        height: 100%;
    }
}
}

@media only screen and (max-width:576px){
    .pl_columns-1{
    display: block;
    width: 100%;
}
.pl_columns-2{
    .pl-post-grid{
    // display: inline-block;
    // width: 50%;
     -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
   } 
}
.pl_columns-3{
    .pl-post-grid{
    // display: inline-block;
    // width: 33.333333%;
    -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }  
}
.pl_columns-4{
    .pl-post-grid{
    // display: inline-block;
    // width: 25%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
 }
}
.columns-5{
    .pl-post-grid{
    // display: inline-block;
    // width: 16.666667%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
 }
}
.pl_same-height{
    .pl-items{
        height: 100%;
    }
}
}

div[class*="columns"].is-grid {
    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.is-pl-inline{
    display: inline-block;
}
.list-3-readview{
    width: 33.33%;
}

/*Start of Grid Template 1*/
.pl-button {
    display: inline-block;
    background: #333;
    // margin-bottom: 3em;
    padding: 1.25em 2em;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: .75em;
    text-transform: uppercase;
    transition: background .3s ease, box-shadow .1s ease;
    &:hover{
        opacity: 0.7;
    }
}
.pl-grid-template1 .is-grid{
    grid-gap: 0 0em !important;
}
.pl-grid-template1 {
    margin: 0 0 1.2em 0;
    position: relative;
    .is-grid article{
        // margin-left:10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .pl-image {
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        display: block;
        margin-bottom:25px;
        a {
            -webkit-transition: all 0.5s ease-in-out !important;
            transition: all 0.5s ease-in-out !important;
        }
       img{
            display: block;
            width: 100%;
            max-width: 100%;
            transform: scale(1) translateZ(0);
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            filter: blur(0);
   
       }  
    }
    .pl-blogpost-text {
        text-align: left;
    }
    .pl-blogpost-title {
        margin-top: 0;
        margin-bottom: 18px;
        a {
            color: $black;
            box-shadow: none;
            transition: .3s ease;
      &:hover {
                box-shadow: inset 0 -2px 0 $accent;
                color: $accent;
            }
        }
    }
        .pl-blogpost-author a {
        box-shadow: none;
        &:hover {
            color: inherit;
            box-shadow: 0 -1px 0 inset;
            color: $accent;
        }
    }
    .pl-blogpost-text {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        color: #777;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    .pl-blogpost-link {
        display: inline-block;
        box-shadow: none;
        transition: .3s ease;
        font-weight: bold;
        color: $black;
        &:hover {
            box-shadow: 0 -2px 0 inset;
        }
    }
    .pl-blogpost-excerpt div + p {
        margin-top: 15px;
    }
    .is-list {
        article {
            display: grid;
            grid-template-columns: 30% 1fr;
            grid-template-rows: 1fr;
            grid-gap: 0 2em;

            &:not(:last-child) {
                margin-bottom: 5%;
                padding-bottom: 5%;
            }

            @media only screen and (min-width: 600px) {
                &:not(:last-child) {
                    border-bottom: solid 1px #eee;
                }
            }

            @media only screen and (max-width: 600px) {
                grid-template-columns: 1fr;
            }
        }

        .pl-blogpost-image {
            margin-bottom: 0;

            @media only screen and (max-width: 600px) {
                margin-bottom: 5%;
            }
        }

        .pl-blogpost-title {
            @media only screen and (min-width: 600px) {
                font-size: 34px;
            }
        }

        .no-thumb .pl-blogpost-text {
            grid-column: span 2;
        }
    }
    .page article.page.type-page{
        background: none !important;
    }
    .category-link{
        margin-bottom: 12px;
    } 
    .pl-blogpost-items > .pl-blog-template{
        // margin: 20px 10px ;
        position: relative;
    }
    .page article.page.type-page{
        background-color: transparent !important;
    }
    .pl-blog-template{
           -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          filter: blur(0);
        .category-link, .pl-blogpost-excerpt, .post-tags{
            a{
                display: inline-block;
                vertical-align: middle;
                 color: #69ca9d;
                font-weight: 600;
                font-size: 12px;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                margin-bottom: 2px;
                &:hover{
                       color: #333333;
                       box-shadow: none;
                } 
            }
        }
        .pl-blogpost-title, .pl-blogpost-author {
            a{
                &:hover{
                      box-shadow: none;
                     color: #69ca9d;
                }
            }
        }
        .pl-blogpost-excerpt, p{
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            color: #777;
            line-height: 1.5;
            margin-bottom: 25px;
        }
        .pl-blogpost-title a{
            color: #000;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }
         .metadatabox {
            margin: 0 0 15px 0;
            a{
                display: inline-block;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                color: #000;
                font-size: 12px;
                font-weight: 500;
            }
            div{
                display: inline-block;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                color: #000;
                font-size: 12px;
                font-weight: 500;
                margin-right: 15px;
            } 
        }
      .pl-blogpost-bototm-wrap{
            border-top: 1px solid #e2e2e2;
            padding: 17px 0; 
            a{
                padding: 0 5px;
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                color: #000;
                &:hover{
                    color: #76cea5;
                }
            }
            .pl-post-tags, .pl-social-wrap{
                   // width: 50%;
                   //  float: left;
                   display: inline-block;
            }  
            .pl-social-wrap{
                float: right;
            }
            .pl-social-wrap{
                text-align: right;
            }
            .pl-post-tags {
                a{
                    color: #76cea5;
                    font-family: 'Poppins', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 0px;
                    text-transform: uppercase;
                    &:hover{
                        color: #222;
                    }
          }
        }
      }
    }
}
/*End of Grid Template 1*/
/*Start of Grid Template 2*/
.pl-grid-template2 {
    .pl-blogpost-2-text{
        width: 90%;
        position: relative;
        display: inline-block;
        margin: -41px auto 0;
        background: #fff;
        padding: 24px 6px;
    
    .pl-category-link-wraper{
        margin-bottom: 25px;
        padding: 0 8%;
      }
    .category-link{
            background: inherit;
       }
     .pl-blogpost-title{
            margin-bottom: 19px;
            a{
                font-size: 24px; 
                color: #222222;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            } 
        }   
      .pl-blogpost-title , .metadatabox, .pl-post-tags{
        a{
            &:hover{ color: #777; }
        }
      }
      .pl-category-link-wraper {
          a{
               display: inline-block;
                padding: 0 9px;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 600;
                color: #222;
                background: inherit;
                -webkit-transform: translateY(6px);
                transform: translateY(6px);
              &:hover{
                opacity: 0.7;
              }  
          }
       }
     .metadatabox, .pl-link-wraper{
            margin-bottom: 20px;
        }
        .metadatabox{
            div{
                position: relative;
                padding: 0 16px;
                &:before{
                     position: absolute;
                    content: "/";
                    left: 0;
                    top: 0  ;
                    color: #2b2b2b;
                }
               &:nth-of-type(1):before {
                    content: none;
               }
            }
            div, a{
                font-size: 13px;
                color: #2b2b2b;
                font-family: 'Lato', sans-serif;
                font-weight: 600;
                display: inline-block;
            } 
        }  
      .pl-blogpost-excerpt p{
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            color: #2b2b2b;
            line-height: 1.5;
            margin-bottom: 28px;
        }

       .pl-button{
            padding: 10px 24px;
            background: #282828;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            margin-bottom: 20px;
            &:hover{
                opacity: 0.7;
            }
       }

      .pl-blogpost-link{
            padding: 10px 24px;
            background: #282828;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover{
                background: #666;
            }
        }
      .pl-post-tags{
            display: inline-block;
            position: relative;
            padding-left: 30px;
        .link-label{
              position: absolute;
              left: 0;
              top: 3px;
              color: #2b2b2b;
              font-size: 14px;
          }
          a{
            font-size: 14px;
            color: #2b2b2b;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
          }   
      }  
        .pl-social-wrap{
             position: relative;
             display: inline-block;
             vertical-align: middle;
             margin-left: 20px;
             width: 30px;
             height: 30px;
             line-height: 30px;
             cursor: pointer;
        .social-share-data{
                position: absolute;
                bottom: 100%;
                left: 0;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                a{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border: 1px solid #b9b7b7;
                    display: block;
                    background: #fff;
                    color: #222;
                    font-size: 16px;
                    color: #222;
                   &:hover{
                    color: #fff;
                    background: #222;
                } 
                } 
            }
            &:hover{
                .social-share-data{ opacity: 1;
                visibility: visible;}
            } 
        }
    }
    .pl-blogpost-items{
        text-align: center;
    }
}
/*End of Grid Template 2*/
/*Start of List Template 1*/
.pl-list-template1{
    a{
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .pl-first-inner-wrap,
    .pl-second-inner-wrap{
        float: left;
        width:50%;
        position: relative;
    }
    .pl-second-inner-wrap{
        padding: 28px 28px 25px;
        text-align: left;
    }
    .pl-blog-template{
            -moz-box-shadow: 0 0 9px 3px #DDDDDD;
           -webkit-box-shadow: 0 0 9px 3px #DDDDDD;
           box-shadow: 0 0 9px 3px #DDDDDD;
           margin-top: 20px;
           background-color: #fff;
           position: relative;
           &:after{
                clear:both;
                content: "";
                display: table;
                flex-basis: 0;
                order: 1;
           } 
          &::nth-of-type(1) {
                 margin-top: 0;
          }
          .pl-image {
                overflow: hidden;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                display: block;
                a {
                    -webkit-transition: all 0.5s ease-in-out !important;
                    transition: all 0.5s ease-in-out !important;
                }
                img{
                    display: block;
                    max-width: 100%;
                    transform: scale(1) translateZ(0);
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    filter: blur(0);
           
               }
            } 
        .pl-blogpost-byline{
            .metadatabox{
                margin: 0 0 15px 0;
                div{
                  margin-right:15px;  
                }
                div, a{
                    display: inline-block;
                    font-size: 12px;
                    color: #767676;
                    font-family: 'Open Sans', sans-serif;
                    line-height: 1.2;
                    font-weight: 600;
                } 
            }
        }
      .metadatabox, .pl-post-tags, .pl-social-wrap {
          a{
              &:hover{
                   color: #1888dd;
              }
          }
      }     
    .pl-blogpost-title{
            margin-bottom: 23px;
            a{
                font-size: 26px;
                color: #222;
                font-weight: 500;
                font-family: 'Lato', sans-serif;
            }
        }
    .pl-blogpost-excerpt, p{
            color: #555;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.7;
            font-family: 'Lato', sans-serif;
        }
    .pl-blogpost-excerpt{
            margin-bottom: 25px;
      }
     .pl-link-wraper, .category-link {
        a{
            display: inline-block;
            text-decoration: none;
            border: 0;
            box-shadow: none;
            padding: 9px 12px;
            border: 1px solid transparent;
            font-size: 12px;
            background-color: #1888dd;
            color: #fff;
            -webkit-border-radius: 7px;
            border-radius: 7px;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        &:hover{
             background-color: #fff;
             color: #1888dd;
             border: 1px solid #1888dd;
             opacity: 0.7;
         } 
        }
     } 
     .pl-link-wraper{
            margin-bottom: 31px;
        }
     .pl-blogpost-bototm-wrap{
            text-align: right;
            padding: 20px;
            background-color: #f8f8f8;
            display: inline-block;
            width: 100%;
        }
        .pl-post-tags, .pl-social-wrap{
            max-width: 50%;
        }
        .pl-post-tags{
             float:left;
             text-align: left;
          a{
                font-size: 12px;
                color: #666;
                font-weight: 500;
                box-shadow: none;
                display: inline-block;
                vertical-align: top;
                font-family: 'Lato', sans-serif;
            }   
        } 
       .pl-social-wrap{
            float:right; 
       a{
            color: #797979;
            font-size: 14px;
            width: 30px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }    
       }
      .pl-category-link-wraper{
            position: absolute;
            bottom: 15px;
            left: 20px;
        }
    }

@media(max-width: 768px){
    .pl-first-inner-wrap, .pl-second-inner-wrap{
        float: none;
        width: 100%;
    }
    .pl-blog-template{
        .pl-post-tags, .pl-social-wrap{
            float: none;
            max-width: 100%;
            text-align: left;
        }
    }
}


}
/*End of List Template 1*/

/*Start of List Template 2*/
.pl-list-template2{
    a{
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        text-decoration: none;
    }
    .pl-first-inner-wrap,
    .pl-second-inner-wrap{
        float: left;
        width:50%;
        position: relative;
    }
    .pl-second-inner-wrap{
        padding-top: 30px;
        padding-left: 50px;
        text-align:center;
    }
    .pl-blog-template{
        padding: 25px 0;
        border-bottom: 1px solid #E2C49F;
        &:after{
            clear:both;
            content: "";
            display: table;
            flex-basis: 0;
            order: 1;
        }
        &:nth-of-type(2n) .pl-first-inner-wrap{
            float: right;
        }
        &:nth-of-type(2n) .pl-second-inner-wrap{
            padding-left:0px;
            padding-right:50px;
        }
        .pl-blogpost-byline {
            .metadatabox{
                div{
                    margin-right:15px;
                }
            }
        }
        .pl-blogpost-byline {
            margin-bottom:20px;
            .metadatabox{
                div{
                    margin-right:15px;
                    display: inline-block;
                    font-size: 12px;
                    color: #767676;
                    font-family: 'Open Sans', sans-serif;
                    a{
                        display: inline-block;
                        font-size: 12px;
                        color: #767676;
                        font-family: 'Open Sans', sans-serif;
                        line-height: 1.2;
                        font-weight: 600;
                        &:hover{
                            color: #D1A97F;
                        }
                    }
                    i{
                        margin-right: 5px;
                        color: #D1A97F;
                    }
                }
            }
        }
        
    }
    .pl-image {
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        display: block;
        a {
            -webkit-transition: all 0.5s ease-in-out !important;
            transition: all 0.5s ease-in-out !important;
        }
        img{
            display: block;
            max-width: 100%;
            transform: rotate(0deg);
            -webkit-transition: all 0.9s ease-in-out;
            transition: all 0.9s ease-in-out;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            filter: blur(0);
           
        }
    }
    .pl-category-link-wraper{
        position: absolute;
        bottom: 0;
        padding: 10px;
        display: block;
        width: 100%;
        background: #E2C49F;
        a{
            color:#fff;
            &:hover{
                color:#AA4427;
                opacity: 0.7;
            }
        }
    }
    .pl-blogpost-title{
        margin-bottom: 23px;
        a{
            font-size: 26px;
            color: #222;
            font-weight: 500;
            font-family: 'Lato', sans-serif;
            &:hover{
                color: #D1A97F;
            }
        }
    }
    .pl-blogpost-excerpt{
        margin-bottom: 25px;
        p{
            color: #555;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.7;
            font-family: 'Lato', sans-serif;
        }
    }
    .pl-link-wraper ,.category-link {
        a{
            display: inline-block;
            text-decoration: none;
            border: 0;
            box-shadow: none;
            padding: 9px 12px;
            border: 1px solid transparent;
            font-size: 12px;
            background-color: #D1A97F;
            color: #fff;
            -webkit-border-radius: 7px;
            border-radius: 7px;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            &:hover{
                background-color: #fff;
                color: #D1A97F;
                border: 1px solid #D1A97F;
                opacity: 0.7;
            }
        }
    }
    .pl-link-wraper{
        margin-bottom: 31px;
    }
    .pl-blogpost-bototm-wrap{
        text-align: right;
        padding: 20px;
        border-bottom: 2px solid #E2C49F;
        display: inline-block;
        width: 100%;
        border-top: 2px solid #E2C49F;
        .pl-post-tags,.pl-social-wrap{
            max-width: 50%;
            a{
                display: inline-block;
                font-family: 'Lato', sans-serif;
                &:hover{
                    color: #D1A97F;
                }
            }
        }
        .pl-post-tags{
            float:left;
            text-align: left;
            a{
                font-size: 12px;
                color: #666;
                font-weight: 500;
                box-shadow: none;
                display: inline-block;
                vertical-align: top;
            }
        }
        .pl-social-wrap{
            float:right;
            a{
                color: #797979;
                font-size: 14px;
                width: 30px;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
   @media(max-width: 768px){
    .pl-first-inner-wrap, .pl-second-inner-wrap{
        float: none;
        width: 100%;
    }
    .pl-second-inner-wrap{
        padding-left: 0px;
    }
    .pl-blog-template{
        .pl-post-tags, .pl-social-wrap{
            float: none;
            max-width: 100%;
            text-align: left;
        }
    }
} 
}
/*End of List Template 2*/
/*Start of List Template 3*/
.pl-list-template3{
    a{
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        text-decoration: none;
    }
    .pl-clearfix{
        isplay: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &:after,&:before{
            clear:both;
            content: "";
            display: table;
            flex-basis: 0;
            order: 1;
        }
    }
    .pl-first-inner-wrap{
        float: left;
        width:40%;
        position: relative;
    }
    .pl-second-inner-wrap{
        width: -webkit-calc(60% + 8%);
        width: calc(60% + 8%);
        margin-left: -8%;
        background-color: #e6e9ec;
        padding: 30px;
        text-align: left;
        position: relative;
    }
    .pl-image {
        overflow: hidden;
/*        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        display: block;*/
        a {
            -webkit-transition: all 0.5s ease-in-out !important;
            transition: all 0.5s ease-in-out !important;
        }
        img{
            display: block;
            max-width: 100%;
            transform: translateX(0);
            -webkit-transition: all 0.9s ease-in-out;
            transition: all 0.9s ease-in-out;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            filter: blur(0);
        }
    }
    .pl-category-link-wraper{
        position: absolute;
        top: 0;
        a{
        color:#fff;
        }
        &:hover{
            color:#AA4427;
        }
    }
    .pl-blog-template-3{
        padding: 25px 0;
        position: relative;
        border-bottom: 1px solid #096385;
        .pl-blogpost-byline {
            .metadatabox{
                margin-bottom:20px;
                font-size: 12px;
                color: #767676;
                font-family: 'Open Sans', sans-serif;
                div{
                    margin-right:15px;
                    display: inline-block;
                    font-family: 'Open Sans', sans-serif;
                    color: #767676;
                    a{
                       font-size: 12px;
                       color: #767676;
                       font-family: 'Open Sans', sans-serif;
                       line-height: 1.2;
                       font-weight: 600;
                        &:hover{
                            color: #096385;
                        }
                    }
                }
                i{
                    margin-right: 5px;
                }
            }
            .pl-post-tags, .pl-social-wrap {
                a{
                    &:hover{
                         color: #096385;
                    }
                }
            }     
        }
    }
    .pl-blogpost-title{
        margin-bottom: 15px;
         a{
            font-size: 18px;
            color: #096385;
            font-weight: 500;
            font-family: 'Lato', sans-serif;
        }
    }
    .pl-blogpost-excerpt{
        color: #555;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        font-family: 'Lato', sans-serif;
        p{
            color: #555;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.7;
            font-family: 'Lato', sans-serif;
        }
    }
    .pl-link-wraper, .category-link {
        a{
            display: inline-block;
            text-decoration: none;
            box-shadow: none;
            padding: 9px 13px;
            font-size: 14px;
            border: 1px solid #096385;
            background-color: #096385;
            color: #fff;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            &:hover{
                background-color: #fff;
                color: #096385;
                border-color:  #096385;
                opacity: 0.7;
            } 
        }
    } 
    .pl-blogpost-bototm-wrap-3 {
        border-top: 1px solid #e2e2e2;
        padding: 17px 0; 
        .pl-post-tags{
            a{
                font-size: 12px;
                color: #666;
                font-weight: 500;
                box-shadow: none;
                display: inline-block;
                vertical-align: top;
                font-family: 'Lato', sans-serif;
                &:hover{
                    color: #096385;
                }
            }
        }
        .pl-post-tags, .pl-link-wraper{
            text-align: left;
            display: inline-block;
            width: 33.33%;
        }  
        .pl-social-wrap{
            display: inline-block;
            width: 32%;
            a{
                color: #096385;
                font-size: 14px;
                width: 30px;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                &:hover i{
                    color:#333;
                }
            }
        }
    }
@media(max-width: 768px){
    .pl-clearfix{
        display: block;
    }
    .pl-image{
        img{
            width: 100%;
        }
    }
    .pl-first-inner-wrap, .pl-second-inner-wrap{
        float: none;
        width: 100%;
    }
    .pl-second-inner-wrap{
        margin-left: 0px;
    }
    .pl-blogpost-bototm-wrap-3{
        .list-3-readview, .pl-post-tags, .pl-social-wrap{
        padding-top: 10px;
        padding-bottom: 10px;    
        display: block;
        width: 100%;
      }  
    }
    .pl-blog-template{
        .pl-post-tags, .pl-social-wrap{
            float: none;
            max-width: 100%;
            text-align: left;
        }
    }
}    

}
/*End of List Template 3*/